
    body{
        background-color: rgba(255, 0, 0, 0.821);
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        background-image: url("./img/chicago-fondo-png.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .noMargin{
        margin: 0;
    }
    .contenedor{
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 10px;
        justify-items: center;
        width: 100%;
        box-sizing: border-box;
    }
    .boton{
        display: block;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 3);
        border-style:dashed;
        background-color: #ffd935;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bolder;
        padding: 20px 10px 20px 10px;
        border-radius: 20px;
    }
    .boton2{
        padding: 30px 10px 30px 10px;
        width: 90%;
    }
    .margin-top{
        margin-top: 100px;
    }
    h1{
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 3);
        color: white;
        text-transform: uppercase;
        font-size: 35px;
        margin: 30px 0 30px 0;
    }

    .formulario{
        background-color: var(--gris);
        width: min(60rem, 90%);  /*usa el valor mas chiquito de los 2, entonces me ahorro el mq*/
        margin: 0 auto;
        padding: 1rem;
    }

    .contenedor-campos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1.5rem;
    }

    .campo{
        margin-bottom: 1.5rem;
    }

    label{
        display: block;
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 3);
        color: white;
        text-transform: uppercase;
        font-size: large;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

    input{
        border-radius: 20px;
        padding: 8px;
        border: none;
    }

    .contenedorVentas{
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-rows:  repeat(3, minmax(0, 1fr)) ;
        gap: 25px;
        width: 100%;
        box-sizing: border-box;
    }

    .botonImg{
        padding: 30px 30px 30px 30px;
        background-size: cover;
        background-position: center;
    }

    .botonP{
        background-image: url(./img/pancho.png);
    }
    .botonHS{
        background-image: url(./img/hamburS.png);
    }
    .botonHD{
        background-image: url(./img/hamburD.png);
    }
    .botonG{
        background-image: url(./img/gaseosas.png);
    }
    .botonGB{
        background-image: url(./img/gaseosaB.png);
    }
    .botonA{
        background-image: url(./img/agua.png);
    }